a {
  position: static;
  color: #999;
  text-decoration: none;
}

a:hover {
  border: 0px solid #000;
  border-radius: 20px;
  background-color: transparent;
  font-weight: 400;
  text-decoration: underline;
}

a:focus {
  font-weight: 400;
}

a:visited {
  color: #999;
  font-weight: 400;
}

.hero {
  display: block;
  padding: 14% 16% 16%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 30px;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.heading {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Inter, sans-serif;
  font-size: 52px;
  line-height: 40px;
  font-weight: 400;
}

.paragraph {
  margin-bottom: 20px;
  font-family: Syne, sans-serif;
  color: #333;
  font-size: 36px;
  line-height: 48px;
}

.links {
  font-family: Syne, sans-serif;
  color: #999;
  font-size: 20px;
  line-height: 40px;
}

.body {
  background-color: transparent;
  background-image: url('../images/nh-bkg.svg');
  background-position: 0px 0px;
  background-size: cover;
  font-family: Inter, sans-serif;
}

.italic-text {
  color: #999;
  font-style: normal;
  font-weight: 300;
}

.image {
  display: block;
  width: 200px;
  height: 200px;
  max-width: 100%;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  border-radius: 8px;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-span {
  display: inline;
  margin-right: 0px;
  margin-left: -3px;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 7px;
  background-color: #eaf5ff;
  color: #4892d3;
  font-style: normal;
}

.text-span-2 {
  color: #8d3db8;
}

.text-span-3 {
  color: #3972d3;
}

.text-span-4 {
  color: #53b475;
}

.text-span-5 {
  box-shadow: inset 0 -17px 0 0 #ffd7e9;
}

.text-span-6 {
  box-shadow: inset 0 -17px 0 0 #dcdbff;
}

.text-span-7 {
  box-shadow: inset 0 -17px 0 0 #d6fff8;
}

@media screen and (max-width: 991px) {
  .hero {
    padding-top: 8%;
    padding-right: 18%;
    padding-left: 18%;
  }

  .body {
    background-size: auto;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 10%;
    padding-right: 16%;
    padding-left: 16%;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    padding-top: 16%;
    padding-right: 10%;
    padding-left: 10%;
  }

  .heading {
    line-height: 36px;
    font-weight: 600;
  }

  .paragraph {
    font-size: 24px;
    line-height: 36px;
  }

  .body {
    background-size: auto;
  }

  .italic-text {
    display: block;
  }

  .image {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

